# Build products
target/

# IntelliJ data
*.iml
.idea/
.ipr

# Documentation build output
/docs/_build

.DS_Store

# Eclipse Core
.project

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Eclipse Setting
.settings

# Log file from schema registry daemon
logs/
nohup.out

# Ignore all bazel-* symlinks. There is no full list since this can change
# based on the name of the directory bazel is cloned into.
/bazel-*

# Directories for the Bazel IntelliJ plugin containing the generated
# IntelliJ project files and plugin configuration. Seperate directories are
# for the IntelliJ, Android Studio and CLion versions of the plugin.
/.ijwb/
/.aswb/
/.clwb/
