name: schema-registry
lang: java
lang_version: 11
codeowners:
  enable: true
semaphore:
  enable: true
  pipeline_type: cp
  nano_version: true
  execution_time_limit: {"hours": 2}
  downstream_projects: ["kafka-rest", "ksql", "confluent-security-plugins", "kafka-connect-replicator", "ce-kafka-rest", "confluent-cloud-plugins", "schema-registry-plugins"]
git:
  enable: true
code_artifact:
  enable: true
  package_paths:
    - maven-snapshots/maven/io.confluent/schema-registry-console-scripts
    - maven-snapshots/maven/io.confluent/client-console-scripts
    - maven-snapshots/maven/io.confluent/kafka-serde-tools-package
    - maven-snapshots/maven/io.confluent/kafka-streams-*
    - maven-snapshots/maven/io.confluent/kafka-connect-*
    - maven-snapshots/maven/io.confluent/dek-registry
    - maven-snapshots/maven/io.confluent/dek-registry-client
    - maven-snapshots/maven/io.confluent/kafka-protobuf-*
    - maven-snapshots/maven/io.confluent/kafka-json-*
    - maven-snapshots/maven/io.confluent/kafka-schema-*
    - maven-snapshots/maven/io.confluent/kafka-avro-serializer
