name: schema-registry
lang: java
lang_version: "11"
codeowners:
  enable: true
semaphore:
  enable: true
  pipeline_type: cp
  nano_version: true
  pr_ci_gating:
    enable: true
    project_name: schema-registry
  status_level: block
  execution_time_limit: {"hours": 3}
  downstream_projects: ["kafka-rest", "ksql",
    "confluent-security-plugins", "kafka-connect-replicator",
    "ce-kafka-rest", "confluent-cloud-plugins", "schema-registry-plugins"]
sonarqube:
  enable: true
  coverage_exclusions:
    - protobuf-serializer/**
git:
  enable: true
