<?xml version="1.0"?>
<Configuration name="Log4j2">
    <Appenders>
        <RollingFile name="file" fileName="${sys:schema-registry.log.dir}/schema-registry.log"
            filePattern="${sys:schema-registry.log.dir}/schema-registry.log.%i">
            <PatternLayout pattern="[%d] %p %m (%c:%L)%n" />
            <Policies>
                <SizeBasedTriggeringPolicy size="100MB" />
            </Policies>
            <DefaultRolloverStrategy max="10" fileIndex="min" />
        </RollingFile>
        <Console name="stdout" target="SYSTEM_OUT">
            <PatternLayout pattern="[%d] %p %m (%c:%L)%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="file" />
            <AppenderRef ref="stdout" />
        </Root>
        <Logger name="org.apache.zookeeper" level="ERROR">
            <AppenderRef ref="stdout" />
        </Logger>
        <Logger name="kafka" level="ERROR">
            <AppenderRef ref="stdout" />
        </Logger>
        <Logger name="org.apache.kafka" level="ERROR">
            <AppenderRef ref="stdout" />
        </Logger>
    </Loggers>
</Configuration>